#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// layers
#define BASE      0
#define LOWER     1
#define RAISE     2
#define ADJUST    3
#define WORK      4
#define GAME1     5
#define GAME2     6

#include "keys/36.h"

&soft_off {
    hold-time-ms = <500>; // Only turn off it the key is held half a second or longer.
};

&lt {  // layer-tap config
  flavor = "hold-preferred";
  tapping-term-ms = <200>;
  quick-tap-ms = <175>;
};

&mt {  // mod-tap config
  flavor = "hold-preferred";
  tapping-term-ms = <200>;
  quick-tap-ms = <175>;
};

&sk { // sticky key
    quick-release;
};

/ {
  // 5x3 Layout
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };

  keymap {
    compatible = "zmk,keymap";
    base_layer { // layer 0 (base)
    bindings = <

// ╭─────────────────────────────────────────────────────────────────────╮   ╭─────────────────────────────────────────────────────────────────────╮
// │      Q      │      W      │      E      │      R      │      T      │   │      Y      │      U      │      I      │      O      │      P      │
      &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │  (LGUI, A)  │  (LSHFT, S) │  (LALT, D)  │  (LCTRL, F) │      G      │   │      H      │ (RCTRL, J)  │  (RALT, K)  │ (RSHFT, L)  │  (RGUI, ;)  │
     &hml LGUI A  &hml LSHFT S  &hml LALT D   &hml LCTRL F    &kp G             &kp H       &hmr RCTRL J  &hmr RALT K   &hmr RSHFT L &hmr RGUI SEMI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │      Z      │      X      │      C      │      V      │      B      │   │      N      │      M      │      ,      │      .      │      /      │
      &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA      &kp DOT       &kp FSLH
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
//                             │   (4, TAB)  │ THUMB SHIFT │  (1, BSPC)  │   │  (2, ENTR)  │(SHFT, SPACE)│ (CTRL, ESC) │
                               &lt WORK TAB &ts LSHFT LSHFT &lt LOWER BSPC   &lt RAISE RET &tm RSHFT SPACE &mt RCTRL ESC
//                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    lower_layer { // layer 1 (lower)
    bindings = <

// ╭─────────────────────────────────────────────────────────────────────╮   ╭─────────────────────────────────────────────────────────────────────╮
// │      !      │      @      │      {      │      }      │      ^      │   │      +      │      7      │      8      │      9      │      _      │
      &kp EXCL      &kp AT        &kp LBRC      &kp RBRC      &kp CARET         &kp PLUS     &kp N7        &kp N8        &kp N9         &kp UNDER
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │      =      │      &      │      (      │      )      │      *      │   │      -      │      4      │      5      │      6      │      "      │
      &kp EQUAL     &kp AMPS      &kp LPAR      &kp RPAR      &kp STAR          &kp MINUS    &kp N4        &kp N5        &kp N6          &kp DQT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │      $      │      #      │      [      │      ]      │      %      │   │      >      │      1      │      2      │      3      │      |      │
      &kp DLLR      &kp HASH      &kp LBKT      &kp RBKT      &kp PRCNT         &kp GT       &kp N1        &kp N2        &kp N3          &kp PIPE
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
//                             │             │    SHIFT    │    HELD_    │   │  (2, INS)   │(SHFT, SPACE)│      0      │
                                   &trans        &trans        &trans         &lt RAISE INS     &trans     &kp N0
//                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    raise_layer { // layer 2 (raise)
    bindings = <

// ╭─────────────────────────────────────────────────────────────────────╮   ╭─────────────────────────────────────────────────────────────────────╮
// │      F1     │      F2     │      F3     │      F4     │             │   │      HOME   │      Pg_Dn  │      Pg_Up  │      END    │      `      │
      &kp F1        &kp F2        &kp F3        &kp F4          &none           &kp HOME      &kp PG_DN     &kp PG_UP     &kp END        &kp GRAVE
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │      F5     │      F6     │      F7     │      F8     │             │   │      ←      │      ↓      │      ↑      │      →      │      '      │
      &kp F5        &kp F6        &kp F7        &kp F8          &none           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT      &kp SQT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │      F9     │     F10     │     F11     │     F12     │             │   │             │             │             │             │      \      │
      &kp F9       &kp F10       &kp F11       &kp F12          &none             &none         &none         &none         &none        &kp BSLH
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
//                             │             │             │   (1, DEL)  │   │    _HELD    │             │    PLAY     │
                                   &trans        &trans     &lt LOWER DEL         &trans        &trans      &kp C_PP
//                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    adjust_layer { // layer 3 (adjust)
    bindings = <

// ╭─────────────────────────────────────────────────────────────────────╮   ╭─────────────────────────────────────────────────────────────────────╮
// │             │             │             │             │             │   │   BT FRST   │   BT SCND   │   BT THRD   │    BT NXT   │    BT PRV   │
        &none         &none         &none         &none         &none         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_NXT    &bt BT_PRV
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │             │             │             │             │             │   │    PREV     │    VolDn    │    VolUp    │    NEXT     │    PLAY     │
        &none         &none         &none         &none         &none          &kp C_PREV   &kp C_VOL_DN  &kp C_VOL_UP   &kp C_NEXT     &kp C_PP
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │             │             │             │             │             │   │             │    MUTE     │             │ PAUSE BREAK │ PRNT SCREEN │
        &none         &none         &none         &none         &none             &none      &kp C_MUTE       &none    &kp PAUSE_BREAK  &kp PSCRN
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
//                             │             │             │    HELD_    │   │    _HELD    │             │             │
                                    &trans       &trans        &trans             &trans       &trans        &trans
//                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    work_layer { // layer 4 (for work)
    bindings = <

// ╭─────────────────────────────────────────────────────────────────────╮   ╭─────────────────────────────────────────────────────────────────────╮
// │             │             │             │             │             │   │      +      │      7      │      8      │      9      │   NUM LOCK  │
        &none         &none         &none         &none         &none          &kp KP_PLUS    &kp KP_N7     &kp KP_N8     &kp KP_N9    &kp KP_NUM
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │  SELECT ALL │     SAVE    │             │    FIND     │             │   │      -      │      4      │      5      │      6      │      *      │
      &kp LC(A)     &kp LC(S)       &none       &kp LC(F)       &none          &kp KP_MINUS   &kp KP_N4     &kp KP_N5     &kp KP_N6  &kp KP_MULTIPLY
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │     UNDO    │     CUT     │     COPY    │    PASTE    │             │   │      .      │      1      │      2      │      3      │      /      │
      &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)       &none          &kp KP_DOT     &kp KP_N1     &kp KP_N2     &kp KP_N3   &kp KP_DIVIDE
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
//                             │     HELD_   │             │   LAYER 5   │   │    ENTER    │             │      0      │
                                    &trans        &trans      &to GAME1       &kp KP_ENTER      &trans      &kp KP_N0
//                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    game1_layer { // layer 5 (gaming default)
    bindings = <

// ╭─────────────────────────────────────────────────────────────────────╮   ╭─────────────────────────────────────────────────────────────────────╮
// │     TAB     │      Q      │      W      │      E      │      R      │   │             │             │             │             │             │
       &kp TAB      &kp Q         &kp W         &kp E         &kp R               &trans       &trans        &trans        &trans        &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │    SHIFT    │      A      │      S      │      D      │      F      │   │             │      J      │      K      │      L      │      ;      │
      &kp LSHFT     &kp A         &kp S         &kp D         &kp F               &trans      &kp J         &kp K         &kp L         &kp SEMI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │   CONTROL   │      Z      │      X      │      C      │      V      │   │             │             │             │             │             │
      &kp LCTRL     &kp Z         &kp X         &kp C         &kp V               &trans       &trans        &trans        &trans        &trans
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
//                             │             │    SPACE    │      6      │   │             │             │             │
                                    &none       &kp SPACE   &mo GAME2             &trans       &trans        &trans
//                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    game2_layer { // layer 6 (gaming extension)
    bindings = <

// ╭─────────────────────────────────────────────────────────────────────╮   ╭─────────────────────────────────────────────────────────────────────╮
// │     ESC     │      1      │      2      │      3      │      4      │   │             │             │             │             │             │
     &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4               &trans       &trans        &trans        &trans        &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │      `      │     F1      │     F2      │     F3      │     F4      │   │             │             │             │             │             │
      &kp GRAVE    &kp F1        &kp F2        &kp F3        &kp F4               &trans       &trans        &trans        &trans        &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
// │     ALT     │             │      I      │      M      │      P      │   │             │             │             │             │             │
      &kp LALT        &none       &kp I         &kp M         &kp P               &trans       &trans        &trans        &trans        &trans
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
//                             │   LAYER 1   │             │    HELD_    │   │             │             │             │
                                  &to BASE        &none        &trans             &trans       &trans        &trans
//                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };
  };

  // Condition to enter the adjust layer (layer 3)
  conditional_layers {
      compatible = "zmk,conditional-layers";
      tri_layer {
          if-layers = <1 2>;
          then-layer = <3>;
      };
  };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <30>;
            layers = <0>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_work_ctrl_enter {
            timeout-ms = <50>;
            layers = <4>;
            key-positions = <12 13>;
            bindings = <&kp LC(ENTER)>;
        };

        combo_bt_clr {
            timeout-ms = <50>;
            layers = <3>;
            key-positions = <5 6>;
            bindings = <&bt BT_CLR>;
        };

        combo_bt_clr_all {
            timeout-ms = <50>;
            layers = <3>;
            key-positions = <5 6 7>;
            bindings = <&bt BT_CLR_ALL>;
        };

        combo_usb_toggle {
            timeout-ms = <50>;
            layers = <3>;
            key-positions = <8 9>;
            bindings = <&out OUT_TOG>;
        };

        combo_soft_off {
            timeout-ms = <50>;
            layers = <3>;
            key-positions = <10 19>;
            bindings = <&soft_off>;
        };
    };
};

/ {
    behaviors {
        ts: thumb_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&sk>;
            flavor = "balanced";
            tapping-term-ms = <200>;                                // repeat on tap-into-hold
            quick-tap-ms = <175>;
            display-name = "Thumb-Shift";
        };

        // Timer-less HomeRow Mods
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <280>;                                // repeat on tap-into-hold
            quick-tap-ms = <175>;
            // global-quick-tap-ms = <150>;                         // requires PR #1387
            global-quick-tap;
            hold-trigger-key-positions = <RIGHT_KEYS THUMB_KEYS>;
            hold-trigger-on-release;                                // requires PR #1423
            display-name = "HomeRow-Left";
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <280>;                                // repeat on tap-into-hold
            quick-tap-ms = <175>;
            // global-quick-tap-ms = <150>;                         // requires PR #1387
            global-quick-tap;
            hold-trigger-key-positions = <LEFT_KEYS THUMB_KEYS>;
            hold-trigger-on-release;                                // requires PR #1423
            display-name = "HomeRow-Right";
        };

        // INFO: Space+Shift
        tm: thumb_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <200>;                                // repeat on tap-into-hold
            quick-tap-ms = <175>;
            // retro-tap;                                           // use tap when key is used without another key
            display-name = "Thumb-Mod";
        };

        tl: thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
            display-name = "Thumb-Layer";
        };
    };
};

/ {
macros {
        // PROGRAMMING SYNTAX
        // s_arrw: slim_arrow { // ->
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings =
        //         <&macro_tap>,
        //         <&kp MINUS>,
        //         <&macro_tap>,
        //         <&kp GREATER_THAN>;
        // };

        // b_arrw: back_arrow { // <-
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings =
        //         <&macro_tap>,
        //         <&kp LESS_THAN>,
        //         <&macro_tap>,
        //         <&kp MINUS>;
        // };

        // f_arrw: fat_arrow { // =>
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings =
        //         <&macro_tap>,
        //         <&kp EQUAL>,
        //         <&macro_tap>,
        //         <&kp GREATER_THAN>;
        // };

        // pipe: pipe_op { // |>
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings =
        //         <&macro_tap>,
        //         <&kp PIPE>,
        //         <&macro_tap>,
        //         <&kp GREATER_THAN>;
        // };

        // b_pipe: back_pipe_op { // ~>
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings =
        //         <&macro_tap>,
        //         <&kp TILDE>,
        //         <&macro_tap>,
        //         <&kp GREATER_THAN>;
        // };

        // wlrus: wallrus { // :=
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings =
        //         <&macro_tap>,
        //         <&kp COLON>,
        //         <&macro_tap>,
        //         <&kp EQUAL>;
        // };
    };
};
