/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#undef ZMK_BEHAVIORS_KEEP_ALL

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LEFT_L 1
#define RIGHT_L 2
#define BOTH_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        sarw: slim_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp MINUS>,
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp GT>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        farw: fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp EQUAL>,
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp GT>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        dcol: double_colon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp COLON &kp COLON>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            layers = <0 1>;
            require-prior-idle-ms = <125>;
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W       &kp E        &kp R        &kp T          &kp Y             &kp U        &kp I        &kp O       &kp P
&hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHFT F  &kp G          &kp H             &hm RSHFT J  &hm RCTRL K  &hm LALT L  &hm LGUI SQT
&kp Z       &kp X       &kp C        &kp V        &kp B          &kp N             &kp M        &kp COMMA    &kp DOT     &kp FSLH
                                     &kp TAB      &lt 1 ENTER    &lt RIGHT_L BSPC  &kp SPACE
            >;
        };

        LEFT_Layer {
            bindings = <
&kp EXCL   &kp AT    &kp LBRC  &kp RBRC  &kp PRCNT    &kp KP_N7   &kp KP_N8  &kp KP_N9  &kp KP_MINUS  &kp SQT
&kp EQUAL  &kp AMPS  &kp LPAR  &kp RPAR  &kp STAR     &kp KP_N4   &kp KP_N5  &kp KP_N6  &kp KP_PLUS   &kp DQT
&kp DLLR   &kp HASH  &kp LBKT  &kp RBKT  &kp CARET    &kp KP_N1   &kp KP_N2  &kp KP_N3  &kp UNDER     &kp BSLH
                               &trans    &trans       &mo BOTH_L  &kp KP_N0
            >;
        };

        RIGHT_Layer {
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &sarw         &kp HOME  &kp DEL    &kp INS    &kp END    &kp TILDE
&kp F5  &kp F6   &kp F7   &kp F8   &farw         &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp GRAVE
&kp F9  &kp F10  &kp F11  &kp F12  &dcol         &none     &kp PG_UP  &kp PG_DN  &none      &kp PIPE
                          &kp ESC  &mo BOTH_L    &trans    &trans
            >;
        };

        BOTH_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
